@{
    ViewBag.Title = $"NMode menu";
}
<h2>Welcome to NMode calc</h2>
<ul>
    <li><a asp-area="" asp-controller="NModeRecords" asp-action="Index">Records</a></li>
    <li><a asp-area="" asp-controller="NMTotalRecords" asp-action="Index">Totals</a></li>
@*     <li><a asp-area="" asp-controller="NModeConditions" asp-action="Index">Conditions</a></li> *@
    <li><a asp-area="" asp-controller="NModeAreas" asp-action="Index">Areas</a></li>
    <li><a asp-area="" asp-controller="NModeLcns" asp-action="Index">Lcns</a></li>
</ul>
